<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="ClientManagerDb"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ClientManagerDb;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="AppName" value="Worthington Capital - Client Manager" />
    <add key="AppVersion" value="1.0.0" />
    <add key="MaxLoginAttempts" value="3" />
    <add key="SessionTimeoutMinutes" value="30" />
  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <contexts>
      <context type="ClientManager.Data.Context.ClientManagerDbContext, ClientManager.Data">
        <databaseInitializer type="ClientManager.Data.Context.ClientManagerDbInitializer, ClientManager.Data" />
      </context>
    </contexts>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
